<?xml version="1.0"?>
<launch>
    <param name="station/bag_name" type="string" value="marker_3"/>
    <param name="station/bag_location" type="string" value="/home/industrum/Documents/station_measurements" />
    <node pkg="measurement_station" type="station_client_node" name="station_client" output="screen"/>
</launch>
